name: Build & Test Zephyr Driver

on:
  workflow_call:
    inputs:
      board:
        required: false
        type: string
        default: "zest_core_stm32l4a6rg"
      container:
        required: false
        type: string
        default: "ghcr.io/catie-aq/zephyr_docker:v4.2.0-202508-ci"
      extra_cmd:
        required: false
        type: string
        description: "Extra command to run before build"
        default: ""
      path:
        required: false
        type: string
        default: "samples"
    secrets:
      personal_access_token:
        required: true

jobs:
  pre-commit:
    uses: catie-aq/generic_workflows/.github/workflows/pre-commit.yaml@main
  twister:
    runs-on: sonu-github-arc
    container: ${{ inputs.container }}
    env:
      CMAKE_PREFIX_PATH: /opt/toolchains
      ZEPHYR_VERSION: "v4.2.0"
      TWISTER_OPTIONS: "--force-color --inline-logs -v --clobber-output --integration "
    steps:
      - name: Extra command
        if: ${{ inputs.extra_cmd }}
        run: ${{ inputs.extra_cmd }}

      - name: Get current branch name
        id: branch-names
        uses: tj-actions/branch-names@v8

      - name: Create workdir/west.yml
        shell: bash
        run: |
          mkdir -p workdir
          touch workdir/west.yml

      - name: Generate YAML file
        shell: bash
        run: |
          cat << EOF > workdir/west.yml
          manifest:
            remotes:
              - name: zephyrproject-rtos
                url-base: https://github.com/zephyrproject-rtos
              - name: catie-6tron
                url-base: https://github.com/catie-aq
            projects:
              - name: zephyr
                remote: zephyrproject-rtos
                revision: ${{ env.ZEPHYR_VERSION }}
                import:
                  name-allowlist:
                    - cmsis
                    - cmsis_6

      - name: Add board STM32 HAL and core board to YAML file
        if: contains(inputs.board, 'stm32')
        shell: bash
        run: |
          BOARD_PREFIX=$(echo "${{ inputs.board }}" | cut -d'/' -f1)
          cat << EOF >> workdir/west.yml
                    - hal_stm32
              - name: zephyr_${BOARD_PREFIX}
                remote: catie-6tron
                revision: main

      - name: Add board Nordic HAL and core board to YAML file
        if: contains(inputs.board, 'nrf')
        shell: bash
        run: |
          BOARD_PREFIX=$(echo "${{ inputs.board }}" | cut -d'/' -f1)
          cat << EOF >> workdir/west.yml
                    - hal_nordic
              - name: zephyr_${BOARD_PREFIX}
                remote: catie-6tron
                revision: main
                revision: main

      - name: Add 6TRON connector and current repo to YAML file
        shell: bash
        run: |
          cat << EOF >> workdir/west.yml
              - name: zephyr_6tron-connector
                remote: catie-6tron
                revision: main
              - name: ${{ github.event.repository.name }}
                remote: catie-6tron
                revision: ${{ steps.branch-names.outputs.current_branch }}
          EOF

      - uses: catie-aq/zephyr_workflows/zephyr_init@main
        with:
          personal_access_token: ${{ secrets.personal_access_token }}

      - uses: catie-aq/zephyr_workflows/zephyr_twister@main
        with:
          path: ${{ github.event.repository.name }}/${{ inputs.path }}
          options: ${{ env.TWISTER_OPTIONS }}
